## 1. Complete the following code to find the area of an equilateral triangle. Output should be as displayed

In [5]:
import math
side = float(input("Enter the side of the equilateral triangle: "))
area = ((math.sqrt(3))/4)*pow(side,2)
print("Area =" , area)

Enter the side of the equilateral triangle: 4
Area = 6.928203230275509

## 2. Write a program to count the number of each characters in a string

In [6]:
string = "perimeter"
count=0
for i in string:
  count+=1
print(count)

9

## Write a program to find the area and perimeter of a rectangle using functions

In [7]:
def area_rectangle(l,b):
  return (l*b)

length = int(input("enter length:-"))
breadth = int(input("enter breadth:-"))

print(area_rectangle(length, breadth))

enter length:-5
enter breadth:-10
50

## 4. Write a program to print the fibonacci series till a specified number

In [14]:
count =int(input("enter the count:-"))
n1 , n2 = 0 ,1
for i in range (count):
  print(n1)
  nth = n1+n2
  n1 =n2
  n2 =nth

enter the count:-3
0
1
1

## 5. Complete the following code to find the minimum of 3 number using cinditional statements. Output should be as displayed

In [23]:
a,b,c = input("Enter three numbers followed by  : ").split()

print("First number :",a)
print("Second number :",b)
print("Third number :",c)
a =int(a)
b=int(b)
c=int(c)
if a == b == c:
    print("Entered numbers are equal!!!")
elif b > a < c:
    print(a," is smallest")
elif c > b < a:
    print(b," is smallest")
elif a > c < b:
    print(c," is smallest")

Enter three numbers followed by  : 3 -11 12
First number : 3
Second number : -11
Third number : 12
-11  is smallest

## 6. Write a program to print star pyramind. The number of rows should be taken as input from the user

In [35]:
rows = int(input("enter the num of rows:"))
for i in range(rows):
  for j in range(rows -i-1):
    print(end =" ")
  for j in range (i+1):
    print("*" , end =" ")
  print()

enter the num of rows:5
    *
   * *
  * * *
 * * * *
* * * * *

## 7. Complete the following code to convert hour into seconds. Output should be as displayed

In [36]:
def to_seconds(t):
    t =t*3600
    return t
time_in_hours = int(input(" enter the time in hours :-"))
print(time_in_hours ," Hour is equal to" ,to_seconds(time_in_hours) ," Seconds")

 enter the time in hours :-12
12  Hour is equal to 43200  Seconds

## 8. Write a program to print multiplication table as below

In [37]:
for i in range (1,11):
  multiply = 1*4
  print( i ,"x" ," 4" ," =" , multiply)

1 x  4  = 4
2 x  4  = 4
3 x  4  = 4
4 x  4  = 4
5 x  4  = 4
6 x  4  = 4
7 x  4  = 4
8 x  4  = 4
9 x  4  = 4
10 x  4  = 4

## 9. Write a program to take your 5 favorite food as list and print each as 'I like Biriyani'

In [38]:
a,b,c = input("Enter your favourite food list followed by  : ").split()
print("I like" , a)
print("I like" ,b)
print("i like", c)

Enter your favourite food list followed by  : apple banana biriyani
I like apple
I like banana
i like biriyani

## 10. Find error(s) in the following code(if any) and rewrite code.

In [48]:
x=int(input("Enter value of x:"))
for y in range(0,10):
     if x==y:
        print("They are equal")
     else:
        print( "They are unequal")

Enter value of x:5
They are unequal
They are unequal
They are unequal
They are unequal
They are unequal
They are equal
They are unequal
They are unequal
They are unequal
They are unequal