<a href="https://colab.research.google.com/github/Akshay-Rajesh/DSA_Assignments_AkshaY/blob/main/Case_Study_04_Hypothesis_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("Sales_add.csv")

In [4]:
data.head()

     Month  ... Sales_After_digital_add(in $)
0  Month-1  ...                        270390
1  Month-2  ...                        223334
2  Month-3  ...                        244243
3  Month-4  ...                        231808
4  Month-5  ...                        258402

[5 rows x 5 columns]

## **The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.**

Our null hypothesis Ho = No increase in sales 
Alternative hypothesis = There is increase in sales

In [17]:
tvalue ,pvalue = stats.ttest_ind(data["Sales_After_digital_add(in $)"],data["Sales_before_digital_add(in $)"])

we get our tvalue = statistic=12.995084451110877, pvalue=2.614368006904645e-16

In [12]:
#now to calculate critical value
#first calculate degrees of freedom
degrees_of_fredom = len(data["Sales_After_digital_add(in $)"]) + len(data["Sales_before_digital_add(in $)"]) -2
degrees_of_fredom

42

In [15]:
#calcutae critical value for a right tailed test aswe are checking for increase in profit
tcritical = stats.t.ppf(1-0.05 ,42)
tcritical

1.6819523559426

In [19]:
if np.abs(tvalue) > tcritical:
  print("we can reject null hypothesis" )
else:
  print("we can reject Alternate hypothesis")

we can reject null hypothesis

So that means there is increase in sales which is the Alternative hypothesis

## **The company needs to check whether there is any dependency between the features “Region” and “Manager”**




*   null hypothesis Ho = There is no dependency between the features
*   alternate hypothesis  H1 = There is significant dependency
between features

In [28]:
data.head()

     Month  ... Sales_After_digital_add(in $)
0  Month-1  ...                        270390
1  Month-2  ...                        223334
2  Month-3  ...                        244243
3  Month-4  ...                        231808
4  Month-5  ...                        258402

[5 rows x 5 columns]

In [34]:
data["Region"].value_counts()

Region - A    10
Region - B     7
Region - C     5
Name: Region, dtype: int64

In [35]:
data["Manager"].value_counts()

Manager - A    9
Manager - B    7
Manager - C    6
Name: Manager, dtype: int64

Since this is comparison btw categorical columns we have to use Test for independence using Chi square test .

In [45]:
#First we draw the cross tbale between both the features
data_crosstab = pd.crosstab(data["Region"] ,data["Manager"] , margins = False)

In [46]:
data_crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [47]:
#importing the chi test 
from scipy.stats import chi2_contingency

In [49]:
stat,p,dof,expected = chi2_contingency(data_crosstab)

In [53]:
p

0.5493991051158094

In [56]:
alpha = 0.05
if p<= alpha:
  print("Dependent(reject Ho) (accept Alternate hypothesis :There is significant dependency between features")
else:
  print("independenct(accept Ho) : There is no dependency between the features")

independenct(accept Ho) : There is no dependency between the features

**Therefore, we accept H0, that is, the variables do not have a significant relation.**